{% extends 'index.html' %}
{% load static %}  <!-- Este codigo permite acceder a la carpeta static -->

{% block titulo %}
    Lista de Libros
{% endblock titulo %}



{% block buscador %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock buscador %}

{% block body %}
    {% if libros %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Fecha de Impresion</th>
                    <th>Editorial</th>
                    <th>Coleccion</th>
                    <th>Edicion</th>
                    <th>ISBN</th>
                    <th>Lugar de Impresion</th>
                    <th>Notas</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{libro.autor}}</td>
                        <td>{{libro.fecha_impresion}}</td>
                        <td>{{libro.editorial}}</td>
                        <td>{{libro.coleccion}}</td>
                        <td>{{libro.edicion}}</td>
                        <td>{{libro.isbn}}</td>
                        <td>{{libro.lugar_impresion}}</td>
                        <td>{{libro.notas}}</td>
                        <td>
                            <a href="{% url 'libro:editar_libro' libro.id %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
         <hi>No Existen Registros</hi>
    {% endif %}

   {% block extrajs %}
  <script src= "{% static 'js/modals/modals.js' %}"></script>
{% endblock extrajs %}

{% endblock body %}