{% extends 'index.html' %}

{% block titulo %}
    Lista de Libros
{% endblock titulo %}


{% block body %}
    {% if libros %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Fecha de Impresion</th>
                    <th>Editorial</th>
                    <th>Coleccion</th>
                    <th>Edicion</th>
                    <th>ISBN</th>
                    <th>Lugar de Impresion</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{libro.autor}}</td>
                        <td>{{libro.fecha_impresion}}</td>
                        <td>{{libro.editorial}}</td>
                        <td>{{libro.coleccion}}</td>
                        <td>{{libro.edicion}}</td>
                        <td>{{libro.isbn}}</td>
                        <td>{{libro.lugar_impresion}}</td>
                        <td>{{libro.notas}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
         <hi>No Existen Registros</hi>
    {% endif %}
{% endblock body %}